################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

backend/PhotoLib.AlbumMicroService.API/bin
backend/PhotoLib.AlbumMicroService.API/obj
backend/PhotoLib.PhotoMicroService.API/bin
backend/PhotoLib.PhotoMicroService.API/obj
backend/PhotoLib.AuthMicroService.API/bin
backend/PhotoLib.AuthMicroService.API/obj
backend/PhotoLib.SystemCore.Libraries/bin
backend/PhotoLib.SystemCore.Libraries/obj
backend/PhotoLib.SystemCore.Libraries.Tests/bin
backend/PhotoLib.SystemCore.Libraries.Tests/obj
backend/.vs/

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
.vs/
.config/