:root{
  --dashboard-bg: #272727;
}
body{
  background-color: #0A0A0A;
  color: white;
  width: 100vw;
  height: 100vh;
}

.App{
  position: relative;
  height: 100%;
  
}

@media only screen and (min-width: 500px) {
  .App{
    padding: 10px;
  }

  ::-webkit-scrollbar{
    width: 5px;
  }

  ::-webkit-scrollbar-track{
    background: var(--dashboard-bg);
  }

  ::-webkit-scrollbar-thumb{
    background-color: #191919;
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: #141414;
  }
}

@media only screen and (max-width: 500px) {
  .App{
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
  }
}