/*
    PROFILE-COMPONENT/CSS
*/

.Profile-Dashboard{
    position: relative;
    width: 100%;
    height: 97vh;
}
.Profile-Container{
    position: relative;
    min-width: 300px;
    width: 400px;
    min-width: 300px;
    min-height: 400px;
    height: 100%;
    background-color: #272727;
}

.Profile-Container .Profile-Image{
    position: relative;
    width: 255px;
    height: 255px;
    border-radius: 20px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.Profile-Container .Profile-Image img{
    position: relative;
    width: 100%;
    height: 100%;
}

.Profile-Container .Profile-Info{
    position: relative;
    width: 100%;
    text-align: center;
}

.Profile-Info .FullName{
    font-size: 27px;
    margin: 0;
}

.Profile-Info .Username{
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.Pronouns{
    font-size: 18px;
    font-weight: 500;
    color: #848484;
}

.Profile-Info .Bio{
    position: relative;
    background-color: #1D1D1D;
    font-size: 15px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    border-radius: 2px;
}

.Bio .Bio-Details{
    padding: 20px;
}

.Bio .Bio-Ind{
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: 10px;
    font-weight: 600;
    color: #727272;
}

.HR-Line{
    width: 80%;
    border: 2px solid #4D4D4D;
}

.Flex{
    position: relative;
    display: flex;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.Flex > :nth-child(n){
    margin: auto;
}


.Socials{
    position: relative;
    width: 100%;
}

.Socials-Container{
    position: relative;
    width: 100%;
    height: 170px;
    overflow-y: scroll;
}

.Social{
    position: relative;
    width: 50%;
    height: 50px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    
}

.Social > :nth-child(n){
    margin: auto;
}

.Social .SocialIcon{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.Social .SocialIcon img{
    position: relative;
    width: 40px;
    height: 40px;
}

.Social .Link{
    position: relative;
    width: 100px;
    text-align: center;
    color: white;
    
}

.Link a{
    position: relative;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.Profile-CopyLink{
    position: relative;
    text-align: center;
}

.flex-block{
    display: flex;
    height: 100%;
}

/*
    ALBUM-COMPONENT CSS
*/

.dashboard-flexblock{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Album-Container{
    position: relative;
    width: 100%;
    padding: 20px;
}

.Album-Container .Title{
    font-size: 25px;
    margin: 0;
    font-weight: 500;
}

.Albums-List{
    position: relative;
    height: 340px;
    overflow-x: scroll;
    white-space: nowrap;
}

.Album{
    position: relative;
    background-color: grey;
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
}

.Album .info {
    position: absolute;
    z-index: 5;
    bottom: 1px;
    padding: 0px 0px 5px 20px;
    width: 275px;
}

.Album .info h2,
.Album .info p{
    margin: 5px;
}

.Album .info p{
    font-size: 13px;
    font-weight: 500;
    color: #909090;
}

.Album img{
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 2;
}

.Album .darkbg{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.Album .selected{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(to top, #2f2f2f, rgba(0,0,0,0));
}

.Album .info .ViewCounter{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
}

/*
    PHOTOS COMPONENT - CSS
*/

.Photos-Container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #272727;
    overflow-y: scroll;
}

.Photos-Container .Title .info h3{
    font-size: 25px;
    margin: 0;
    font-weight: 500;
}
.Photos-Container .Title .info{
    padding: 20px;
}

.Photos-Container .Title .info p{
    font-size: 15px;
    margin-top: 5px;
    font-weight: 500;
}

.date{
    position: relative;
    color: #909090;
    margin: 0;
}

.Photos-Container .Photos-List{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100%;
    white-space: pre-wrap;
}

.Photos-List .Photo{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #1D1D1D;
    margin: 5px;
    overflow: hidden;
}

.Photo .Image-Container,
.Album .Image-Container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Image-Container img{
    height: 150%;
}

/*
    FORMS COMPONENT - CSS
*/
.LoginUI{
    position: relative;
    background-image: url('./assets/login_bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 97.5vh;
}

.LoginUI > :nth-child(n){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginForm{
    position: relative;
    width: 350px;
    height: fit-content;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.loginForm .Title h2,
.loginForm .Title p{
    position: relative;
    margin: 0;
    width: 100%;
}

.loginForm .Title{
    margin: 5px;
}

.loginForm .fields > :nth-child(n){
    display: block;
    text-align: left;
}


.loginForm .fields{
    position: relative;
    display: block;
    text-align: left;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}


.loginForm .fields input{
    position: relative;
    background-color: rgba(0,0,0,0.8);
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    padding: 5px 5px 5px 10px;
    font-size: 18px;
    width: 100%;
    transition: border-colorn .3s cubic-bezier(.25, .01, .25, 1) 0s;
}

.loginForm .fields input:hover{
    border-color: #727272;
}


.loginForm .fields input:focus{
    background-color: rgba(24, 24, 24, 0.5);
    border-color: white;
}

.loginForm .center{
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.btn-submit{
    position: relative;
    display: block;
    padding: 5px 20px 5px 20px;
    background-color: rgba(0,0,0,0.8);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
}
.btn-submit:hover{
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.8);
}
.btn-center{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.loginForm a{
    position: relative;
    display: block;
    color: white;
    margin-top: 2px;
}

.loginForm span{
    position: relative;
    color: red;
    font-size: 20px;
}

.loginForm .btn-container{
    position: relative;
    width: 100px;
    background-color: red;
}



.sus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    width: 100%;
  }
  
  .sus-btn:active {
    transform: scale(.9);
    transition: all 100ms ease;
  }
  
  .sus-btn svg {
    transition: all .5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all .5s ease;
    transition-delay: 300ms;
  }
  
  .sus-btn:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
  }
  
  .sus-btn:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  .sus-btn:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }




/*
    Mobile Responsive
*/

@media only screen and (min-width: 500px){
    .Profile-CopyLink{
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .Photos-Container{
        margin: 20px;
    }

    .Photos-Container .Title .info .date{
        position: absolute;
        top: 23px;
        right: 30px;
    }
}

@media only screen and (max-width: 500px){
    .Profile-Container, .Profile-Dashboard{
        height: fit-content;
        width: 100%;
        overflow: hidden;
    }

    .Social{
        width: 60%;
        height: 50px;
    }

    .Socials-Container{
        height: 100%;
    }

    .flex-block{
        display: block;
    }

    .Photos-List .Photo{
        display: flex;
        min-width: 250px;
        min-height: 250px;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .LoginUI{
        height: 100vh;
    }
}

